<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jxjycn.learntodrive">

    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- 百度地图权限 -->

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 百度地图权限 -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XijcXurKZeC4Xi0xYm56r6WtC93A0SYS" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.GuidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Coach.OrderCoachActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".Coach.OrderTimeTableActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".Coach.StudentCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".Coach.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".Coach.WebActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".mine.PersonalInfromationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".mine.NickNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".mine.ReallyNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".mine.IntroduceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".SchoolRecord.SchoolRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".myorder.MyOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".myorder.OrderInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".myorder.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".mine.WriteInfroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity android:name=".Coach.TestActivity" />
        <activity
            android:name=".wallet.MyWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".home.NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".login.JudgeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />

        <service android:name=".setting.update.UpdataService" />

        <activity
            android:name=".home.MapSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity
            android:name=".exam.PracticeExaminationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme" />
        <activity android:name=".exam.ExamActivity"></activity>
    </application>

</manifest>
